*~
*.gz
*.la
*.lo
*.o
*.tmp
.deps
.libs
Makefile
Makefile.in
_libs
autoscan.log
configure.scan
aclocal.m4
autom4te.cache
config.cache
config.guess
config.h
config.h.win32
config.log
config.status
config.sub
configure
depcomp
doc/manual
libtool
ltmain.sh
stamp-h
stamp-h.in
stamp-h1
typescript.make
test.txt
test.dat
a.out

